head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')

    title Futura Tropica Netroots

    meta(name='author' content='Futura Tropica x Common.Garden')
    meta(name='description' content='Futura Tropica Public Dashboard')
    meta(name='viewport' content='initial-scale=0.5, width=device-width')

    link(rel='stylesheet' href='/avatars.css')
    link(rel='stylesheet' href='/show.css')
    link(rel='stylesheet' href='/dashboard.css')

    style.
        .menu {
            position: fixed;
            top: 0;
            left: -140px;
            padding-top: 50px;
            padding-left: 10px;
            width: 140px;
            height: 100vh;
            background: hsl(133,50%,68%);
            z-index: 1;
            box-sizing: border-box;
            transition: left 0.3s;
        }
        .menu.active {
            left: 0;
        }
        .menuItem {
            padding: 3px;
        }

    script(src="/js/adapter-latest.js")
    script(src="https://public.futura-tropica.network/socket.io/socket.io.js")
    
    //- script(src="js/vimeo-player.js")

body
    .layout
        .wrapper
            #overlay
                .header
                .lang-wrapper
                    .lang
                        .en
                        || Futura Trōpica | is an InterTropical Network of Grass-Root Local Networks for the lateral flow of local resources and other forms of knowledges, designs and technologies. from a *Tropikós perspective. *Tropikós—> greek roots of the word ‘tropics’ - it means ‘to turn’
                    .lang
                        .es
                        || Futura Trōpica | es una Red InterTropical de Redes Locales desde abajo para el intercambio lateral de otras formas de conocimientos y saberes, diseños y tecnologías. desde una perspectiva *Tropikós. *Tropikós—> las raíces griegas de la palabra “trópico” - significa “dar un giro”
                    .lang
                        .fr
                        Futura Trōpica est un réseau intertropical de réseaux locaux pour l'échange latéral d'autres formes de connaissances et de savoir-faire, de conceptions et de technologies. Du point de vue *Tropikós. *Tropikós-> racine grecque du mot "tropique" - qui signifie "tourner".
            .nav
                .info
                .languages
                    .en
                    div
                        | &mdash;
                    .es
                    div
                        | &mdash;
                    .fr

            .title
                .up
                .down
            #peers

    .avatarContainer
    .map
    .GUIcontainer
    .fade
    .popUp
        form
            input.username(type="text" pattern="[^'\x22\x3c\x3e\x3b]+" placeholder="your name" maxlength="25" name="username" required)
            input.enterButton(type="submit" value="Enter Futura Tropica" name="enter")
    .content
    audio.alert
        source(src="/static/still_there_2.ogg")
        source(src="/static/still_there_2.mp3")

    script.
        const socket = io('/');

        // Set this to true to turn off audio feature
        const disableAudio = false;
        let subdomainAlias = "#{subdomainAlias}";

        // button click
        document.getElementsByClassName('info')[0].addEventListener('click', function() {
            document.getElementById('overlay').classList.toggle("visible");
        })
        document.getElementsByClassName('languages')[0].addEventListener('click', function() {
            document.getElementById('overlay').classList.toggle("visible");
        })

    script(src="/js/jquery-1.7.1.min.js")
    script(src="/js/jquery-ui-1.8.17.custom.min.js")
    script(src="/js/script005.min.js")
    script(src="/js/dataSignalling.js")
    script(src="/js/avatars.js")
    script(src="/js/audiochat.js")
    script(src="/js/staticAudioRooms.js")
    script(src="/js/popUp.js")
    script(src="/js/showdata.js")
    script(src="/js/youtube_sync.js")
    //- script(src="js/kurento-utils.js")
    script(src="/js/iframe_api.js")
    script(src="/js/peers.js")
        
