head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')

    title Futura Tropica Netroots

    meta(name='author' content='Futura Tropica x Common.Garden')
    meta(name='description' content='Futura Tropica Public Dashboard')
    meta(name='viewport' content='initial-scale=0.5, width=device-width')

    link(rel='stylesheet' href='./avatars.css')
    link(rel='stylesheet' href='./show.css')
    link(rel='stylesheet' href='./dashboard.css')

    script(src="./js/adapter-latest.js")
    script(src="https://common.garden/socket.io/socket.io.js")
    
    //- script(src="js/vimeo-player.js")

body
    .avatarContainer
    .nav
        .homeButton
            a(href="http://10.8.0.3/")
                img(src="/img/HomeButton.svg", width="151", height="75")
        .info
    .layout
        .wrapper
            .titleimg
            #overlay
                .header
                .lang-wrapper
                    .lang
                        .en
                        || Futura Trōpica | is an InterTropical Network of Grass-Root Local Networks for the lateral flow of local resources and other forms of knowledges, designs and technologies. from a *Tropikós perspective. <br>*Tropikós—> greek roots of the word ‘tropics’ - it means ‘to turn’<br><br>
                        | > Please give permission to your mic and get close to other visitors (dots) if you would like to talk to them. Get inside a Rhizome and explore scrolling laterally.<br><br>
                    .lang
                        .es
                        || Futura Trōpica | es una Red InterTropical de Redes Locales desde abajo para el intercambio lateral de otras formas de conocimientos y saberes, diseños y tecnologías. desde una perspectiva *Tropikós. <br>*Tropikós—> las raíces griegas de la palabra “trópico” - significa “dar un giro”<br><br>
                        | > Por favor dale permiso a tu micrófono y acercate a otros visitantes (puntos) si quieres hablar con ellos. Entra a una Rizoma y explora en scroll lateral.<br><br>
                    .lang
                        .fr
                        | | Futura Trōpica | est un réseau intertropical de réseaux locaux pour l'échange latéral d'autres formes de connaissances et de savoir-faire, de conceptions et de technologies. Du point de vue *Tropikós. <br>*Tropikós-> racine grecque du mot "tropique" - qui signifie "tourner".<br><br>
                        | > S’il te plaît, autorise ton micro et rapproche-toi des autres visiteurs (points) si tu veux leur parler. Entre dans un rhizome et explore le défilement latéral.<br><br>

                    .contributors
                        h1 CONTRIBUTORS
                        p 
                            | INITIATED BY
                            br 
                            | <a href="https://www.puntojpgs.com/" target="_blank">Juan Pablo García Sossa — jpgs</a>

                        p
                            | TECH SUPPORT
                            br
                            | <a href="https://chootka.com/" target="_blank">Sarah Grant — chootka — Radical Networks</a>
                            br 
                            | Tropical Common Garden is a fork of Constant Dullaart's <a href="https://common.garden/" target="_blank">Common Garden</a><br><br>
                        .names
                            ul
                                li Estación Terrena Bogotá
                                li Valentina Medina
                                li Álvaro Rodríguez Badel
                                li Eblis Álvarez — Meridian Brothers
                                li Diana Pizano — Comiendo Cuento
                                li Sebastián Lema x Organizmo
                                li Paulo Cesar Acosta
                                li Eliana Muchachasoy — Benach
                                li Galería Sibundoy
                                li Juan Covelli
                                li Wilmer Rodríguez
                                li EL PAISA
                            ul
                                li Yatharth
                                li Komal Jain
                                li Deepikah Bhardwaj
                                li Kevin Angelus &amp; Vedant Sharma — Indian Ephemera
                                li Ishita Shah — Curating for Culture
                                li Aastha Gupta &amp; Prateek Shankar — The Urdu Project
                                li Debanshu Bhaumik
                                li Karthika Sakthivel
                                li Prabir Chitrakar
                            ul
                                li Nada Tshibwabwa
                                li Elsa Westreicher
                                li Timbela Batimbela Yo (Collective)
                                li Pisko Crane — Fulu Miziki
                                li Adeline Boyube
                                li Maman Iza &amp; Papa Lofo
                                li Kill Bill
                                li Lumumba Lab
                                li Maman Adeline
                                li and many many more
                    .footer
                        a(href="https://www.eyebeam.org/residents/juan-pablo-garcia-sossa/") SUPPORTED BY EYEBEAM’S RAPID RESPONSE FOR A BETTER DIGITAL FUTURE 2020
            .title
                .up
                .down
    .map
    .GUIcontainer
    .fade
    .popUp
        form
            input.username(type="text" pattern="[^'\x22\x3c\x3e\x3b]+" placeholder="your name" maxlength="25" name="username" required)
            input.enterButton.disabled(type="submit" value="Enter Futura Tropica" name="enter")
    .horizontal-content
    audio.alert
        source(src="./static/still_there_2.ogg")
        source(src="./static/still_there_2.mp3")

    script(src="//code.jquery.com/jquery-1.11.0.min.js")
    script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(src="./js/youtube_sync.js")
    script(src="https://www.youtube.com/iframe_api")
    //- script(src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
    script.
        const socket = io('/');

        // Set this to true to turn off audio feature
        const disableAudio = false;
        let subdomainAlias = "#{subdomainAlias}";
        let username = "";

        const body = document.getElementsByTagName('body')[0];
        const info = document.getElementsByClassName('info')[0];
        const layout = document.getElementsByClassName('layout')[0];
        const overlay = document.getElementById('overlay');

        function hideOverlay() {
            body.removeEventListener('click', hideOverlay);
            if (overlay.classList.contains("visible")) overlay.classList.toggle("visible");
            if (layout.classList.contains("visible")) layout.classList.toggle("visible");
        }

        // button click
        info.addEventListener('click', function() {
            overlay.classList.toggle("visible");
            layout.classList.toggle("visible");
            
            setTimeout(() => { body.addEventListener('click', hideOverlay) }, 1000);
        });
    script(src="./js/script005.min.js")
    script(src="./js/audiochat.js")
    script(src="./js/staticAudioRooms.js")
    script(src="./js/popUp.js")
    script(src="./js/dataSignalling.js")
    script(src="./js/avatars.js")
    script(src="./js/showdata.js")
    
