head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')

    title Futura Tropica Netroots

    meta(name='author' content='Futura Tropica x Common.Garden')
    meta(name='description' content='Futura Tropica Public Dashboard')
    meta(name='viewport' content='initial-scale=0.5, width=device-width')

    link(rel='stylesheet' href='/css/avatars.css')
    link(rel='stylesheet' href='/css/dashboard.css')
    link(rel='stylesheet' href='/css/show.css')

    //- script(src="https://webrtc.github.io/adapter/adapter-latest.js")
    script(src="/js/adapter-latest.js")
    script(src="/js/libs/socket.io.js")

    //- script(src="https://player.vimeo.com/api/player.js")
    
body
    .avatarContainer
    .map
    .GUIcontainer
    .fade
    .popUp
        form
            input.username(type="text" pattern="[^'\x22\x3c\x3e\x3b]+" placeholder="your name" maxlength="25" name="username" required)
            input.enterButton.disabled(type="submit" value="Enter Futura Tropica" name="enter")
    .content
    audio.alert
        source(src="/static/still_there_2.ogg")
        source(src="/static/still_there_2.mp3")

    script(src="/js/jquery-1.7.1.min.js")
    script(src="/js/jquery-ui-1.8.17.custom.min.js")
    script(src="/js/youtube_sync.js")
    script(src="https://www.youtube.com/iframe_api")
    script.
        const socket = io('/');

        // Set this to true to turn off audio feature
        const disableAudio = false;
        let subdomainAlias = "#{subdomainAlias}";
        let username = "";
        let myUser;
        let myMapUser;
    script(src="/js/script005.min.js")
    script(src="/js/audiochat.js")
    script(src="/js/staticAudioRooms.js")
    script(src="/js/popUp.js")
    script(src="/js/dataSignalling.js")
    script(src="/js/showdata.js")
