head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')

    title Futura Tropica Netroots

    meta(name='author' content='Futura Tropica x Common.Garden')
    meta(name='description' content='Futura Tropica Public Dashboard')
    meta(name='viewport' content='initial-scale=0.5, width=device-width')

    link(rel='stylesheet' href='/css/avatars.css')
    link(rel='stylesheet' href='/css/dashboard.css')
    link(rel='stylesheet' href='/css/show.css')

    //- script(src="https://webrtc.github.io/adapter/adapter-latest.js")
    script(src="/js/adapter-latest.js")
    script(src="/js/libs/socket.io.js")

    //- script(src="https://player.vimeo.com/api/player.js")
    
body
    .avatarContainer
    <div class="map" style="width: 623.333px; height: 519.444px;" tabindex="-1" aria-hidden="true"><div class="mapUser smallGuide" id="smallGuide"></div><div id="mapUser4J13ewDxbumvNcdGAAc_" class="mapUser myMapUser" style="left: 143.99px; top: 23.6867px;"></div><div class="mapIcon artmenu menu menu1 mapa1644095757387 shape circle" data-id="1" tabindex="-1" style="top: 426.879px; left: 405.894px; width: 118.226px; height: 76.5661px; z-index: 0; background-color: rgb(178, 255, 0);"></div><div class="mapIcon artmenu menu menu7 mapa1632235317344" data-id="7" tabindex="-1" style="top: 334.626px; left: 274.89px; width: 84.15px; height: 47.3733px; z-index: 2;"><p>ESPEJISMOS <br> • <br> JUAN COVELLI</p></div><div class="mapIcon artmenu menu menu12 mapa1632235886661" data-id="12" tabindex="-1" style="top: 8.31111px; left: 229.075px; width: 98.0711px; z-index: 2; border: medium none; color: rgb(241, 0, 102);"><p>PAISAJES BIO—CULTURALES<br> • <br>DIANA PIZANO</p></div><div class="mapIcon artmenu menu menu18 mapa1632236958375" data-id="18" tabindex="-1" style="top: 156.561px; left: 229.283px; width: 66.6967px; z-index: 2;"><p>NEO AMAZONIAN<br> • <br>ELIANA MUCHACHASOY</p></div><div class="mapIcon artmenu menu menu26 mapa1632239828690" data-id="26" tabindex="-1" style="top: 351.976px; left: 427.191px; width: 189.182px; z-index: 2; border: medium none; color: rgb(241, 0, 102);"><p>CAFÉ INTERNET XYZ <br> • <br>WILMER RODRÍGUEZ</p></div><div class="mapIcon artmenu menu menu28 mapa1632240107915" data-id="28" tabindex="-1" style="top: 209.232px; left: 525.47px; width: 67.6317px; z-index: 2; border: medium none; color: rgb(241, 0, 102);"><p>A PLURIVERSE <br> • <br>PAULO CESAR ACOSTA</p></div><div class="mapIcon artmenu menu menu29 mapa1632240240381" data-id="29" tabindex="-1" style="top: 21.7128px; left: 491.706px; width: 88.0978px; z-index: 2; border: medium none; color: rgb(241, 0, 102);"><p>NATURAL FIBERS <br> • <br>SEBASTIÁN LEMA</p></div><div class="mapIcon artmenu menu menu38 mapa1632241372760" data-id="38" tabindex="-1" style="top: 313.952px; left: 129.861px; width: 38.2311px; height: 67.0083px; z-index: 2;"><p>PAZ EN LA TIERRA<br> • <br>MERIDIAN BROTHERS X CONJUNTO MEDIA LUNA</p></div><div class="mapIcon artmenu menu menu48 mapa1632241990745" data-id="48" tabindex="-1" style="top: 246.424px; left: 390.414px; width: 84.15px; height: 47.3733px; z-index: 2;"><p>GEOFILTERS <br> • <br> JUAN <br> PABLO GARCÍA SOSSA</p></div><div class="mapIcon artmenu menu menu77 mapa1644259325618" data-id="77" tabindex="-1" style="top: 444.956px; left: 251.515px; width: 91.63px; height: 51.7367px; z-index: 2; border: medium none; color: rgb(241, 0, 102);"><p>CINTURÓN TROPICAL <br> • <br> ÍCARO LÓPEZ DE MESA</p></div></div>
    .GUIcontainer
    .fade
    .popUp
        form
            input.username(type="text" pattern="[^'\x22\x3c\x3e\x3b]+" placeholder="your name" maxlength="25" name="username" required)
            input.enterButton.disabled(type="submit" value="Enter Futura Tropica" name="enter")
    .content
    audio.alert
        source(src="/static/still_there_2.ogg")
        source(src="/static/still_there_2.mp3")

    script(src="/js/jquery-1.7.1.min.js")
    script(src="/js/jquery-ui-1.8.17.custom.min.js")
    script(src="/js/youtube_sync.js")
    script(src="https://www.youtube.com/iframe_api")
    script.
        const socket = io('/');

        // Set this to true to turn off audio feature
        const disableAudio = false;
        let subdomainAlias = "#{subdomainAlias}";
        let username = "";
    script(src="/js/script005.min.js")
    script(src="/js/audiochat.js")
    script(src="/js/staticAudioRooms.js")
    script(src="/js/popUp.js")
    script(src="/js/dataSignalling.js")
    script(src="/js/showdata.js")
