head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    title Common.Garden
    meta(name='author' content='Common.Garden')
    meta(name='description' content='Online gallery')
    meta(property='og:title' content='Common.Garden')
    meta(property='og:site_name' content='Common.Garden')
    meta(name='viewport' content='initial-scale=0.5, width=device-width')
    link(rel='stylesheet' href='/avatars.css')
    link(rel='stylesheet' href='/show.css')
    script(src="js/jquery-1.7.1.min.js")
    script(src="https://common.garden/socket.io/socket.io.js")
    
    style.
        body {
            display: flex;
        }
        .info {
            margin: auto;
            width: 550px;
            text-align: center;
            display: inline-block;
        }
        p {
            text-align: center;
            margin-top: 5px;
            font-size: 18px;
        }
        p.small {
            margin-top: 90px;
            font-size: 13px;
            margin-bottom: 40px;
        }
        p.warn {
            font-size: 13px;
            color: #aa0000;
            margin-top: 0;
            margin-bottom: -20px;
        }
        p.format {
            font-size: 13px;
            color: #fff;
            color: rgba(255,255,255,0.8);
            margin-bottom: 0;
        }
        a {
            color: inherit;
        }

        input[type=submit] {
            width: 250px;
            margin: 10px auto 2px;
            font-size: 16px;
            height: 40px;
            border: 1px solid #999;
            border-radius: 20px;
            background: #fff;
            box-sizing: border-box;
            cursor: pointer;
        }
        input[type=submit]:hover {
            background: #eee;
        }
        input[type=button].small {
            width: auto;
            height: auto;
            padding: 4px;
            margin: -10px auto 10px;
            font-size: 16px;
            border: none;
            background: none;
            box-sizing: border-box;
            cursor: pointer;
            font-size: 12px;
            text-decoration: underline;
            color: #fff;
        }
        #subdomain {
            margin-top: 20px;
            background: rgba(255,255,255,0.4);
            padding-right: 4px;
            padding-bottom: 4px;
            padding-top: 2px;
            border: 1px solid #fff;
            width: auto;
            font-size: 18px;
            color: #fff;
            text-align: right;
            min-width: 30px;
            font-family: monospace;
            border-radius: 5px;
            box-sizing: border-box;
        }
        #subdomain:focus {
            outline: none;
        }
        #subdomain::placeholder {
            color: rgba(255,255,255,0.7);
        }
        label {
            font-family: monospace;
        }
        .gardenContainer {
            margin-top: 40px;
            margin-bottom: 20px;
        }
        .garden {
            position: relative;
            float: left;
            width: 31%;
            height: auto;
            color: #fff;
            box-sizing: border-box;
            margin: 1%;
            cursor: pointer;
            background: rgba(255,255,255,0.2);
            border: 1px solid #fff;
            border-radius: 20px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            text-decoration: none;
        }
        .halfSpacer {
            cursor: normal;
            width: 15.5%;
            background: none;
            border: none;
        }
        .garden:hover {
            background: rgba(255,255,255,0.3);
        }
        .gardenContainer p.gardenHeader {
            margin-top: 30px;
            margin-bottom: 10px;
            width: 100%;
            display: inline-block;
        }
        p.name {
            position: relative;
            margin-top: 2px;
            width: 100%;
            font-size: 13px;
        }
        .activeGarden p.name {
            margin-top: 10px;
            color: #fff;
            font-size: 14px;
        }
        form {
            margin-top: 40px;
        }

        .menu {
            position: fixed;
            top: 0;
            left: -140px;
            padding-top: 50px;
            padding-left: 10px;
            width: 140px;
            height: 100vh;
            background: hsl(133,50%,68%);
            z-index: 1;
            box-sizing: border-box;
            transition: left 0.3s;
        }
        .menu.active {
            left: 0;
        }
        .menuItem {
            padding: 3px;
        }
        .button {
            position: absolute;
            left: 155px;
            top: 10px;
            width: 30px;
            height: 30px;
            transition: left 0.3s;
            cursor: pointer;
        }
        .hamburger {
            position: absolute;
            left: 0;
            top: 0;
            width: 30px;
            margin-top: 13px;
            height: 4px;
            background: #fff;
            border-radius: 2px;
            transition: background 0.3s;
        }
        .hamburger:before {
            position: absolute;
            left: 0;
            top: -11px;
            width: 30px;
            content: "";
            height: 4px;
            background: #fff;
            border-radius: 2px;
            transition: transform 0.3s, width 0.3s;
            transform-origin: left center;
        }
        .hamburger:after {
            position: absolute;
            left: 0;
            top: 11px;
            width: 30px;
            content: "";
            height: 4px;
            background: #fff;
            border-radius: 2px;
            transition: background 0.3s;
            transition: transform 0.3s, width 0.3s;
            transform-origin: left center;
        }
        .menu.active .button {
            left: 15px;
        }
        .menu.active .hamburger {
            background: rgba(255,255,255,0);
        }

        .menu.active .hamburger:before {
            transform: rotate(45deg);
            width: 31px;
        }
        .menu.active .hamburger:after {
            transform: rotate(-45deg);
            width: 31px;
        }

body

    .menu
        .menuItem <a href="about">About</a>
    .info
        form(onsubmit='checkName(); return false;')
            p
                input(id="subdomain" type="text" pattern="[a-zA-Z0-9\-\_]+" maxlength="40" placeholder="subdomain" name="subdomain")
                label(for="subdomain") .futura-tropica.network
                p.warn &nbsp;
            br
            input(type='submit' value='create your own tropical garden')

    script.
        const socket = io('/');
        //- let elems = document.querySelectorAll("p.name[data-subdomain]");
        //- let featured = [];
        //- for (let i=0; i<elems.length; i++) {
        //-     featured.push(elems[i].dataset.subdomain);
        //- }
        //- console.log(featured);
        //- socket.emit("getPages");

        let input = document.querySelector("#subdomain");
        input.addEventListener("input", resizeInput);
        resizeInput.call(input);

        socket.emit("createName");

        socket.on("subdomain", function(subdomain) {
            input.placeholder = subdomain;
            resizeInput.call(input);
        });

        socket.on("subdomainExists", function() {
            document.querySelector("p.warn").innerHTML = "This garden has already been claimed by someone else, try choosing a different name.";
        });

        socket.on("subdomainAvalible", function() {
            if (input.value) {
                window.location.href = "https://cms.futura-tropica.network?" + input.value;
            } else {
                window.location.href = "https://cms.futura-tropica.network?" + input.placeholder;
            }
        });

        function checkName() {
            if (input.value) {
                socket.emit("checkName", input.value);
            } else {
                 socket.emit("checkName", input.placeholder);
            }
        }

        function resizeInput() {
            if (this.value) {
                this.style.width = "calc(" + this.value.length + "ch + 12px)";
            } else {
                this.style.width = "calc(" + this.placeholder.length + "ch + 12px)";
            }
        }

        //- socket.on("allPages", function(pages) {
        //-     console.log(pages.length);
        //-     if (pages.length > 0) {
        //-         console.log(pages[0]);

        //-         for (let i=0; i<pages.length; i++) {
        //-             for (let j=0; j<featured.length; j++) {
        //-                 if (pages[i].name == featured[j]) {
        //-                     if (pages[i].users == 1) {
        //-                         document.querySelector("p.name[data-subdomain='" + featured[j] + "']").innerHTML = document.querySelector("p.name[data-subdomain='" + featured[j] + "']").innerHTML.split("(")[0] + "(" + pages[i].users + " current visitor)";
        //-                     } else {
        //-                         document.querySelector("p.name[data-subdomain='" + featured[j] + "']").innerHTML = document.querySelector("p.name[data-subdomain='" + featured[j] + "']").innerHTML.split("(")[0] + "(" + pages[i].users + " current visitors)";
        //-                     }
        //-                 }
        //-             }
        //-         }
        //-     }
        //- });
