head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
    title Common.Garden
    meta(name='author' content='Common.Garden')
    meta(name='description' content='Online gallery')
    meta(property='og:title' content='Common.Garden')
    meta(property='og:site_name' content='Common.Garden')
    meta(name='viewport' content='initial-scale=0.5, width=device-width')
    link(rel='stylesheet' href='/avatars.css')
    link(rel='stylesheet' href='/show.css')
    script(src="https://webrtc.github.io/adapter/adapter-latest.js")
    script(src="/js/socket.io.js")
    //- script(src="https://common.garden/socket.io/socket.io.js")

    script(src="https://code.jquery.com/jquery-3.5.1.min.js")

    style.
        h1 {
            font-family: sans-serif;
            color: #fff;
            font-size: 24px;
        }
        h2 {
            margin-top: 10px;
            font-family: sans-serif;
            color: #fff;
            font-size: 15px;
            font-weight: normal;
            margin-bottom: 20px;
        }
        form {
        }
        .popUp {
            width: 500px;
            left: calc(50% - 250px);
            height: 200px;
            top: calc(50vh - 125px);
        }
        .popUp .createButton {
            width: 45%;
            font-size: 18px;
        }
        .popUp .backButton {
            width: 45%;
            margin-right: 5%;
            font-size: 18px;
        }
body
    .fade
    .popUp
        h1 Welcome to the Common Garden!
        h2 This garden does not exist yet, would you like to create it?
        form
            input.enterButton.backButton(type="button" value="Cancel" name="enter")
            input.enterButton.createButton(type="submit" value="Create New Garden" name="enter")
            .terms
                input.terms(type="checkbox" name="terms" id="terms" required)
                label(for="terms") I agree to the <a href="https://common.garden/static/TermsOfService.pdf" target="_blank">privacy statement</a>

    script.

        document.querySelector("h2").innerHTML = "The garden '" + window.location.hostname + "' does not exist yet.<br>Would you like to create it?";

        document.querySelector(".backButton").addEventListener("click", function() {
            window.location.href = "https://common.garden";
        });

        document.querySelector("form").addEventListener('submit', toCms);

        function toCms(event) {
            event.preventDefault();
            console.log("loaded");
            urlParts = window.location.hostname.split(".");
            console.log(urlParts);
            window.location.search = "";

            if (urlParts.includes("localhost")) {
                window.location.href = "http://cms.localhost:8887?" + urlParts[0];
            } else {
                window.location.href = "http://cms.common.garden?" + urlParts[0];
            }
        }
