@font-face {
    font-family: "EHNormalBold";
    src: url("fonts/EHNormal-Bold.otf") format("truetype");
}
/*@font-face {
    font-family: "EHNormalMed";
    src: url("fonts/EHNormal-Medium.otf") format("truetype");
}*/
@font-face {
    font-family: "EHNormal";
    src: url("fonts/EHNormal-Regular.otf") format("truetype");
}
/*@font-face {
    font-family: "EHNormalLt";
    src: url("fonts/EHNormal-Light.otf") format("truetype");
}
@font-face {
    font-family: "EHNormalThin";
    src: url("fonts/EHNormal-Thin.otf") format("truetype");
}*/
body {
    background: linear-gradient(270deg, #efefef, #100d0d, #efefef);
    background-size: cover;
    background-attachment: fixed;

    /*-webkit-animation: dashboard 28s ease infinite;
    -moz-animation: dashboard 28s ease infinite;
    animation: dashboard 28s ease infinite;*/

    color: #eec860;
    font-family: EHNormal, sans-serif;
    font-size: 18px;
    line-height: 1.2em;

    height: 100vh;
    overflow: hidden;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}

p {
    font-family: EHNormal, sans-serif;
    font-size: 18px;
    line-height: 1.2em;
    margin-top: 2px;
}

h1 {
    font-family: EHNormalBold, sans-serif;
    font-size: 18px;
    line-height: 1.2em;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

@-webkit-keyframes float {
  from { -webkit-transform: rotate(0deg) translate3d(6px, 0, 0) rotate(0deg); }
  to { -webkit-transform: rotate(360deg) translate3d(6px, 0, 0) rotate(-360deg); }
}

@keyframes float {
  from { transform: rotate(0deg) translate3d(6px, 0, 0) rotate(0deg); }
  to { transform: rotate(360deg) translate3d(6px, 0, 0) rotate(-360deg); }
}

@-webkit-keyframes dashboard {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@-moz-keyframes dashboard {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
@keyframes dashboard {
    0%{background-position:0% 50%}
    50%{background-position:100% 51%}
    100%{background-position:0% 50%}
}
.layout {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    max-width: 1500px;

    margin: 0 auto;
    padding: 0 50px;
}

.wrapper {
    position: relative;
    margin: 0 auto;

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;

    position: absolute;
    z-index: 10;
}
.info {
    cursor: pointer;

    width: 13px;
    height: 73px;

    background: url(/img/Info.svg) no-repeat;
    background-size: 100%;
}
.languages {
    cursor: pointer;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 13px;
    height: 93px;
}
.languages > div {
    font-family: EHNormalBold, sans-serif;

    width: 25px;
    height: 14px;

    text-align: center;
}
.en {
    background: url(/img/Language-EN.svg) no-repeat;
    background-size: 100%;
}
.es {
    background: url(/img/Language-ES.svg) no-repeat;
    background-size: 100%;
}
.fr {
    background: url(/img/Language-FR.svg) no-repeat;
    background-size: 100%;
}
.title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.title .up {
    background: url(/img/Dashboard-UP.svg) no-repeat;
    background-size: contain;
    background-position: center;

    width: 100%;
    height: 40%;
}
.title .down {
    background: url(/img/Dashboard-DOWN.svg) no-repeat;
    background-size: contain;
    background-position: center;

    width: 100%;
    height: 40%;
}
#peers {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    max-width: 80vw;

    z-index: 11;
}
.label {
    color: #eec860;
    font-family: EHNormalBold, sans-serif;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;

    padding: 6px;
    transform: scaleY(-1);
}
.peer:nth-child(even) .label {
    transform: scaleY(-1) translateY(117px);
}
.dot {
    background-color: #bbb;
    border-radius: 50%;

    cursor: pointer;

    display: inline-block;

    height: 87px;
    width: 87px;

    margin: 0 80px;
}
.peer:nth-child(odd) {
    -webkit-animation: float 8s infinite linear;    
    animation: float 8s infinite linear;  

    margin-top: -8px;
}
.peer:nth-child(even) {
    -webkit-animation: float 9s infinite linear;    
    animation: float 9s infinite linear; 

    margin-top: 4px;  
}   

#overlay {
    opacity: 0;

    border-radius: 240px;
    background: #fff;

    color: #eec860;

    height: 550px;
    max-width: 700px;

    margin: 0 auto;
    padding: 15px 200px;

    overflow-y: auto;

    top: 50%;
    margin-top: -290px;

    position: absolute;
    z-index: -1;

    transition: opacity .3s;
}

#overlay.visible {
    opacity: 1;
    z-index: 12;
}

.lang-wrapper {
    max-width: 650px;
}

#overlay .lang {
    padding-bottom: 10px;
}

.lang .en,
.lang .es,
.lang .fr {
    width: 32px;
    height: 20px;
}

.header {
    background: url(/img/FuturaTropicaNetroots.svg) no-repeat;
    background-size: 100%;

    margin: 20px auto;

    width: 100%;
    height: 11%;

    max-width: 600px;
}

.names {
    display: flex;
    justify-content: space-between;
}

.footer {
    font-size: 15px;
    margin-top: 20px;
}

