* {
    margin: 0;
    padding: 0;
}

body {
    /*position: absolute;*/
    width: 100vw;
    height: 100vh;
    /*background: hsl(133,50%,68%);*/
    background: linear-gradient(270deg, #efefef, #100d0d, #efefef);
/*    background: linear-gradient(0deg, hsl(133, 50%, 50%) 0%, hsl(133, 50%, 86%) 100%);*/
/*    overflow: hidden;*/
    font-family: sans-serif;
    color: #fff;
    border-color: #aaa;

    overflow-y: hidden;
}

.avatarContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
/*    background: red;*/
}

.GUIcontainer {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 998;
    min-height: 40px;
    min-width: 100px;
    max-width: calc(100vw - 40px);
    pointer-events: none;
    z-index: 49;
}

.GUI {
    pointer-events: all;
    position: relative;
    height: 40px;
    border-radius: 20px;
    background: #eee;
    border: 1px solid #aaa;
    text-align: left;
    font-size: 14px;
    padding: 11px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    color: #555;
    transition: opacity 0.2s;
    margin-right: 20px;
    float: left;
    margin-top: 5px;
}

.buttonGUI {
    cursor: pointer;
}
.buttonGUI.disabled {
    cursor: not-allowed;
    color: #aaa;
}

.roundGUI {
    cursor: pointer;
    width: 40px;
    padding: 0;
    padding-top: 7px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.streamGUI, .adminGUI, .recordingGUI, .openRoomGUI {
    padding-left: 35px;
}

.GUI span {
    cursor: pointer;
}

.GUI span:hover {
    color: #000;
}

.GUI.inactive {
    opacity: 0;
    width: 0;
    padding: 0;
    margin: 0;
    border: none;
}

.GUI .indicator {
    position: absolute;
    top: 14px;
    left: 15px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}
.GUI .indicator.connecting {
    animation: connectingPulse 2s linear infinite;
    border: 1px solid #888;
}
.GUI .indicator.live {
    animation: livePulse 2s linear infinite;
}
.GUI .indicator.off {
    border: 1px solid #888;
    background: #ddd;
}
.GUI .indicator.micIcon {
    width: 20px;
    height: 20px;
    top: 9px;
    left: 9px;
    background-image: url(static/mic_icon.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;

}

.GUI .indicator.micIcon.active {
    animation: liveShadow 2s linear infinite;
}

@keyframes liveShadow {
    0% { box-shadow: 0 0 5px 1px #888; }
    50% { box-shadow: 0 0 5px 0px #ddd; }
    100% { box-shadow: 0 0 5px 1px #888; }}

@keyframes connectingPulse {
    0% { background: #aaa }
    50% { background: #eee; }
    100% { background: #aaa; }
}

@keyframes livePulse {
    0% {
        background: rgb(255,0,0);
        border: 1px solid #f00;
    }
    49% {
        background: rgb(255,0,0);
        border: 1px solid #f00;
    }
    50% {
        background: rgb(255,255,255);
        border: 1px solid #888;
    }
    99% {
        background: rgb(255,255,255);
        border: 1px solid #888;
    }
    100% {
        background: rgb(255,0,0);
        border: 1px solid #f00;
    }
}

.popUp {
    left: calc(50vw - 200px);
    top: calc(50vh - 75px);
    position: fixed;
    width: 400px;
    height: 100px;
    z-index: 900;
    text-align: center;
}

.popUp .username, .popUp .password, .popUp .enterButton {
    margin-top: 5px;
    width: 350px;
    font-size: 20px;
    border: 0;
    border-radius: 20px;
    background: #fff;
    padding: 10px;
    padding-left: 30px;
    box-sizing: border-box;
}
.popUp .enterButton.disabled, .popUp .enterButton.unloaded {
    cursor: not-allowed;
    background: #eee;
    color: #aaa;
}

.popUp .terms {
    padding: 5px;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popUp .terms a {
    color: white;
}

.popUp label {
    padding: 5px;
}

input.terms {
    margin-left: 5px;
}

.popUp p {
    color: #bbb;
    font-size: 12px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 4px;
}
.popUp p.entryText {
    color: #fff;
    font-size: 13px;
    text-shadow: 0 0 2px #000;
}
.popUp .enterButton {
    width: 250px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.fade {
    background: rgba(0,0,0,0.4);
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    transition: background 0.4s;
    z-index: 50;
}

.passWindow, .fade.fullWindow {
    z-index: 901;
    background: rgba(0,0,0,0);
}

.passWindowBox {
    left: calc(50vw - 200px);
    top: calc(50vh - 75px);
    position: fixed;
    width: 400px;
    height: 200px;
    z-index: 900;
    text-align: center;
    background: #eee;
    border-radius: 20px;
    border: 1px solid #999;
    box-sizing: border-box;
    padding-top: 30px;
    color: #000;
}

.passWindowBox p {
    width: 100%;
    float: left;
    margin-bottom: 20px;
}
.passWindowBox input {
    width: 70%;
    float: left;
    margin-left: 15%;
    margin-bottom: 10px;
    font-size: 20px;
    height: 40px;
    border: 1px solid #999;
    border-radius: 20px;
    background: #fff;
    box-sizing: border-box;
}

.passWindow input[type=password] {
    padding-left: 20px;
    width: 70%;
}

.passWindow input[type=button] {
    width: calc(35% - 5px);
}
.passWindow input[type=submit] {
    width: calc(35% - 5px);
    margin-left: 10px;
}

.fade.fullWindow .fullWindow {
    left: calc(50vw - 200px);
    top: calc(50vh - 75px);
    position: fixed;
    width: 400px;
    height: 150px;
    z-index: 900;
    text-align: center;
    background: #eee;
    border-radius: 20px;
    border: 1px solid #999;
    box-sizing: border-box;
    padding-top: 50px;
    color: #000;
    font-size: 18px;
}

.horizontal-content {
    width: 650px;
    height: 90vw;

    overflow-y: scroll;
    overflow-x: hidden; 

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    padding-top: 100px;

    transform-origin: right top; 
    transform: rotate(-90deg) translateX(-200px) translateY(-450px);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.horizontal-content::-webkit-scrollbar {
    display: none;
}

.horizontal-content > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 650px;
    height: 500px;
    
    margin-top: 220px;

    transform: rotate(90deg) translate(300px);
    transform-origin: right top;
}

.article > div {
    display: flex;
    align-items: center;
    height: 100%;
}

/*.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin: 0 auto;

    height: 100vh;
    width: 80%;
}*/

/*.slick-track {
    display: flex;
    align-items: center;
}

.slick-arrow {
    display: none !important;
}

.slick-slide {
    height: auto !important;
}*/

/*article {
    position: absolute;
    background: #fff;
    border-width: 2px;
    border-style: solid;
    border-color: inherit;
    z-index: 5;
}
article.hidden {
    visibility: hidden;
}
article.text {
    padding-left: 10px;
}

article.borderless {
    background: rgba(0,0,0,0);
    border-style: hidden;
}
article.borderless.text {
    padding-left: 0px;
}


article h1 {
    text-align: left;
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 22px;
}

article h2 {
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 5px;
    margin-top: -5px;
    font-size: 20px;
    font-weight: normal;
}
article p {
    text-align: left;
    padding-bottom: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 16px;
    font-weight: normal;
}
article a, article .info a {
    color: inherit;
}


article .info {
    padding-top: 8px;
    width: 110%;
    margin-left: -5%;
    height: 90px;
}

article .info h1, article .info h2, article .info p {
    padding-left: 4.55%;
    padding-right: 4.55%;
}

article .info p {
    opacity: 0;
    padding-top: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
    box-sizing: border-box;
    pointer-events: none;
    padding-bottom: 4.55%;
}

article .info:hover p {
    opacity: 1;
    pointer-events: inherit;
}

article div.iframe {
    overflow: hidden;
    border: inherit;
    border-width: 0;
}

article a {
}

article .mouseBlocker {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

article .chatMessage {
    color: #000;
}

article img {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

article .room {
    position: absolute;
    top: -150px;
    left: -150px;
    border-radius: 30px;
    background: rgba(0,0,0,0);
    border: inherit;
    border-width: 1px;
    border-style: dashed;
    width: calc(100% + 300px);
    height: calc(100% + 300px);
    transition: border-color 0.3s;
    z-index: -10;
}
article.talking .room {
    border-color: rgba(0,0,0,0);
}

article.puzzle .room {
    top: -200px;
    left: -200px;
    width: calc(100% + 400px);
    height: calc(100% + 400px);
}

article.quiz .room {
    visibility: visible;
}

article .room:before {
    position: absolute;
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    content: "";
    background: rgba(0,0,0,0);
    transition: all 0.3s;
}

article.talking .room:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    border-radius: 30px;
}*/
.map {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    pointer-events: none;
    transition: opacity 0.5s;
}

.map.hidden {
    opacity: 0;
}

.map.hidden .mapIcon {
    pointer-events: none;
}

.mapIcon {
    position: absolute;
    background: #fff;
    border: 1px solid #aaa;
    pointer-events: all;
    font-size: 11px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
/*    word-break: break-all;*/
    hyphens: auto;
    color: #000;
    box-sizing: border-box;
}

.tourInterface {
    position: fixed;
    width: 600px;
    height: 350px;
    background: #fff;
    border-radius: 20px;
    padding: 10px;
    left: calc(50vw - 300px);
    top: calc(50vh - 200px);
    z-index: 51;
    text-align: center;
    padding-top: 50px;
    overflow: scroll;
    color: #000;
}

.tourInterface .recButton {
    width: 50%;
    margin-left: calc(25% - 5px);
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    cursor: pointer;
}

.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s;
    background-position: center;
    background-size: cover;
}

.slide.activeSlide {
    opacity: 1;
}

.slideshow .GUI {
    position: absolute;
    top: calc(100% + 20px);
    z-index: 10;
}

.chatbox {
    border: 2px solid #999;
    background: #fff;
}

.messageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 8px;
    padding-left: 25px;
    box-sizing: border-box;
    overflow: hidden;
}

.chatboxControlls {
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0;
    bottom: 0;
    z-index: 10;
    background: #eee;
    border-top: 1px solid #999;
}

.chatboxInput {
    position: absolute;
    left: 5px;
    bottom: 5px;
    height: 30px;
    width: calc(100% - 50px);
    border-radius: 15px;
    border: 1px solid #999;
    background: #fff;
    padding-left: 10px;
    padding-right: 10px;
}

.chatboxButton {
    -webkit-appearance: none;
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 30px;
    height: 30px;
    background: #fff;
    border: 1px solid #999;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
    color: #333;
    padding-left: 3px;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 0px;
}

.chatboxButton .icon {
    position: absolute;
    top: -4px;
    left: 5px;
    pointer-events: none;
}

.chatMessage {
    font-size: 13px;
    padding-bottom: 10px;
}

.avatarHeader {
    position: absolute;
    left: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-right: 6px;
}

span.username {
    font-weight: bold;
}

article.screenshare {
    background: none;
    border-style: dashed;
    text-align: center;
}

article.screenshare.active {
    background: none;
    border-style: solid;
}

article.screenshare .label {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #999;
    font-size: 13px;
    font-style: italic;
}

.screenshareGUI {
    cursor: pointer;
    position: absolute;
    width: 300px;
    text-align: center;
    left: calc(50% - 150px);
    top: 40%;
    z-index: 20;
}

.screenshareGUI.live {
    cursor: default;
}

video.screenshare {
    object-fit: cover;
}

article.shape, .mapIcon.shape {
    border: none;
}

article.shape.circle, .mapIcon.shape.circle {
    border-radius: 50%;
}

article.portal, .mapIcon.portal {
    background: radial-gradient(#000, #555);
    transition: margin 1s ease, padding 1s ease, background 1s ease-out;
}

article.puzzle {
    background-color: transparent !important;
    z-index: 5;
}
article.puzzle .segment {
    float: left;
    border: inherit;
    border-width: 0px;
    box-sizing: border-box;
    z-index: 5;
    visibility: hidden;
}
article.puzzle .segment.visible {
    border: none;
    visibility: visible;
}
article.puzzle .button {
    position: absolute;
    width: 200px;
    height: 32px;
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 17px;
    top: calc(100% + 10px);
    left: 0;
    z-index: 10;
    text-align: center;
    padding-top: 7px;
    box-sizing: border-box;
    cursor: pointer;
    color: #000;
}
.pice {
    position: absolute;
    box-sizing: content-box;
    background: red;
    transform: translate(-50%,-50%);
    transition: left 0.2s linear, top 0.2s linear;
    z-index: 5;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    border: inherit;
    border-style: solid;
    border-width: 0;
}
/*
.pice:before {
    position: absolute;
    content: "";
    width: 200%;
    height: 100%;
    background: inherit;
    background-origin: content-box;
    padding-left: 50%;
    box-sizing: border-box;
    right: -50%;
    top: 0;
    padding-top: 0;
    border-radius: 50%;
}
*/
article.puzzle .frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}
.boundry {
    position: absolute;
    margin-left: -200px;
    margin-top: -200px;
    width: 100%;
    height: 100%;
    padding: 200px;
    box-sizing: content-box;
    border: inherit;
    border-style: dashed;
    border-width: 0px;
    overflow: hidden;
    transition: background 0.4s, border-radius 0.4s, border 0.4s;
    border-radius: 30px;
}

article.quiz {
    visibility: hidden;
    z-index: auto;
}
article.quiz .option {
    visibility: visible;
    position: absolute;
    height: 100%;
    max-width: 50%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #fff;
    z-index: 2;
    transition: background 0.5s ease, margin 0.5s ease, padding 0.5s ease;
}
article.quiz .option.a {
    background: #f00;
    left: 0;
}
article.quiz .option.b {
    background: #00f;
    right: 0;
}
article.quiz .option.correct {
    background: #0f0;
    padding: 20px;
    margin: -20px;
}
article.quiz .option:before {
    position: absolute;
    top: -6px;
    left: -6px;
    width: 100%;
    height: 100%;
    content: "";
    padding: 3px;
    border: none;
    border-radius: 50%;
    transition: opacity 0.5s ease;
    border: 3px dotted #0f0;
    opacity: 0;
}
article.quiz .option.correct:before {
    opacity: 1;
}
article.quiz .option.wrong {
    background: #aaa;
}

article.quiz .questionContainer {
    visibility: visible;
    position: absolute;
    bottom: 100%;
    text-align: center;
    width: 100%;
    z-index: 5;
}
article.quiz .questionContainer.hidden {
    visibility: hidden;
}
article.quiz .questionContainer h1 {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
article.quiz .questionContainer.hidden h1 {
    visibility: visible;
}
article.quiz .question {
    font-size: 22px;
    margin-bottom: 12px;
}
article.quiz .answer {
    font-size: 18px;
    margin-bottom: 8px;
}
article.quiz .button {
    position: absolute;
    visibility: visible;
    width: 70px;
    height: 70px;
    border: inherit;
    border-width: 1px;
    border-radius: 50%;
    left: calc(50% - 35px);
    top: calc(50% - 35px);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    z-index: 5;
    background: rgba(255,255,255,0.2);
}
article.quiz .button.large {
    font-size: 24px;
}
article.quiz .button.disabled {
    cursor: not-allowed;
}
article.quiz .button.start {
    cursor: pointer;
}
article.quiz .quizScores {
    position: absolute;
    height: 200px;
    width: 350px;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 175px);
    background: #fff;
    border: 1px solid #aaa;
    border-radius: 5px;
    visibility: visible;
    z-index: 5;
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    padding: 15px;
    text-align: center;
    box-sizing: border-box;
    padding-top: 40px;
    color: #000;
}
article.quiz .quizScores p {
    text-align: center;
    color: #000;
}
article.quiz .quizScores p.score {
    margin-top: 5px;
}
article.quiz .quizScores p.name {
    padding: 0;
    margin: 0;
    font-size: 18px;
}
article.quiz .quizScores p.myScore {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

article.quiz div.score {
    visibility: visible;
    width: 100%;
    position: absolute;
    top: 100%;
    text-align: center;
    z-index: 5;
}

.mapIcon.quiz {
    background: none;
    border: none;
}

article input.volumeSlider {
    -webkit-appearance: none;
    background: transparent;

    position: absolute;
    bottom: 0;
    left: -15px;

    width: 120px;
    height: 0;

    transform-origin: bottom left;
    transform: rotate(270deg);

    border: inherit;
    border-width: 3px;
    border-radius: 3px;

}
/*
article input.volumeSlider:before {
    position: absolute;
    content: "🔊";
    top: -35px;
    left: calc(100% - 17px);
    width: 20px;
    height: 20px;
    transform-origin: center;
    transform: rotate(90deg);
    text-align: center;
    text-shadow: 0 0 2px rgba(0,0,0,0.3);
    font-size: 16px;
}
article input.volumeSlider:after {
    position: absolute;
    content: "🔇";
    top: -35px;
    left: 0;
    width: 20px;
    height: 20px;
    transform-origin: center;
    transform: rotate(90deg);
    text-align: center;
    text-shadow: 0 0 2px rgba(0,0,0,0.3);
    font-size: 16px;
}
*/

article input.volumeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
}

article input.volumeSlider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
}

article input.volumeSlider::-ms-thumb {
    width: 16px;
    height: 16px;
    background: #eee;
    border: 1px solid #aaa;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
}

article input.volumeSlider:focus {
    outline: none;
    box-shadow: 0 0 2px rgba(0,0,0,0.5);
}

article input.volumeSlider::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.bgimg {
    position: absolute;
    display: block;
    width: auto;
    height: auto;
}
.tree {
    left: 1744px;
    top: 1168px;
}
.swing {
    left: 5488px;
    top: 672px;
}
.shrub {
    left: 7440px;
    top: 2512px;
}
.rocks {
    left: 4544px;
    top: 5056px;
}
.seesaw {
    left: 3696px;
    top: 6512px;
}
.pond {
    left: 6800px;
    top: 7648px;
}
.well {
    left: 1536px;
    top: 6064px;
}

.email {
    left: 9700px;
    top: 20px;
}

.no_touch {
    pointer-events: none;
}
